/* Styles pour le logo */
.logo {
    width: 100px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto; /* Ajustez la hauteur automatiquement en fonction de la largeur */
    margin-right: 10px; /* Ajoute une marge à droite du logo pour l'éloigner du texte */
}

/* Styles pour la barre de navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Styles pour les boutons de navigation */
nav button {
    background-color: transparent; /* Fond transparent par défaut */
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    font-family:monospace; /* Utilisez la police de votre choix */
    font-size: 16px;
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out; /* Transitions fluides */
    font-size:large;
}

/* Styles pour les boutons de navigation au survol */
nav button:hover {
    border: 2px solid white; /* Bordure blanche au survol */
    padding: 8px 18px; /* Ajustez la taille du bouton au survol si nécessaire */
    color: darkblue; /* Couleur du texte au survol */
}

nav button a {
    color: white;
    text-decoration: none;
    position: relative;
}

/* Soulignement au survol */
nav button a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4CAF50; /* Couleur du soulignement au survol */
    transform: scaleX(0); /* Ajustez la longueur du soulignement */
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

nav button:hover a::after {
    transform: scaleX(1); /* Affiche le soulignement complet au survol */
}



  
    h2 {
        color: #fff; /* Couleur du texte en blanc ou une couleur claire de votre choix */
        text-align: center;
        margin: 20px 0;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre au texte */
        /* Ajoutez d'autres styles souhaités pour le titre */
    }


  .bloc1 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond avec opacité */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    
}

.bouton1 {
  text-align: center;
  margin: 20px;
}

.bouton1 a {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.bouton1 a:hover {
    background-color: #0066cc;
    }



    .arrow-down {
        font-size: 80px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: opacity 0.5s ease;
        animation: blink 600ms infinite alternate;
        margin-top: 100px;
        color: blue;
    }
    
    .hide-arrow {
        opacity: 0;
    }
    
    @keyframes blink {
        to {
            opacity: 0;
        }
    }
    
    


/* Ajoutez de l'espace entre chaque photo */
.slick-carousel .slick-slide {
    margin-right: 20px; /* Ajustez la valeur selon vos besoins */
    width: 50%; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Cela garantit que la hauteur est ajustée en proportion */
}

/* Styles pour les images du carrousel */
.slick-carousel .slick-slide img {
    width: 100%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
    height: 300px; /* Vous pouvez ajuster la valeur en pixels selon vos besoins */
    object-fit: cover; /* Pour s'assurer que l'image couvre complètement le conteneur */
    border-radius: 5px; /* Ajoutez une bordure arrondie si vous le souhaitez */
    object-position: center;

}

 /* Ajoutez ces styles pour personnaliser les dots du carrousel */
.slick-dots {
    display: flex !important; /* Affichez les dots en ligne */
    justify-content: center !important; /* Centrez les dots horizontalement */
    bottom: 10px !important; /* Ajustez la position verticale */
}

/* Styles pour les dots individuels */
.slick-dots li {
    margin: 0 5px !important; /* Espace entre les dots */
    width: 12px !important; /* Largeur des dots */
    height: 12px !important; /* Hauteur des dots */
    border-radius: 50% !important; /* Rend les dots circulaires */
    background-color: #fff !important; /* Couleur de fond des dots */
    border: 2px solid #333 !important; /* Bordure des dots */
    transition: all 0.3s ease-in-out !important; /* Animation de transition */
}

/* Styles pour le dot actif */
.slick-dots li.slick-active {
    background-color:blue !important; /* Couleur de fond du dot actif */
    border-color: #fff !important; /* Bordure du dot actif */
    transform: scale(1.2) !important; /* Animation de zoom pour le dot actif */
}

/* Styles pour le dot actif sans point noir */
.slick-dots li.slick-active button:before {
    color: #fff !important; /* Couleur du point actif */
}
.slick-dots li button:before {
    color: #fff !important; /* Couleur du texte du dot inactif */
    
}
    



.photoboxcar {
    font-size: x-large;
    color: #fff;
}




body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    



    background-image: url("img/alex2.35.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    

}

h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.para1 {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond avec opacité */
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .para1 p {
    font-size: 16px;
    line-height: 1.5;
    color:darkblue;
  }
  
  .para1 p:first-child {
    margin-top: 0;
  }
  
  .para1 p:last-child {
    margin-bottom: 0;
  }

p {
    color:darkblue;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 50px;
}


h5 {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}


/* Conteneur pour aligner les images horizontalement */
.photo-gallery {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les images */
    align-items: center; /* Aligner les images au centre verticalement */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    margin: 0 -10px; /* Compenser la marge négative pour éviter le débordement */
    margin-top: 100px;
}

/* Style pour chaque conteneur de photo */
.photo-container {
    position: relative;
    flex: 0 0 calc(33.33% - 20px); /* Chaque conteneur prend environ un tiers de la largeur disponible avec une marge de 10px de chaque côté */
    margin: 10px;
    text-align: center;
}

.photo-container img {
    display: block;
    width: 100%;
    height: auto; /* Ajustez cette propriété selon vos besoins */
    max-height: 250px; /* Hauteur maximale pour les images */
    object-fit: cover; /* Ajustez cette propriété selon vos besoins */
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}



.photo-container:hover .caption {
    opacity: 1;
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    width: 100%; /* Ajustez la largeur selon vos besoins */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.schedule {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 20px auto;
}

.schedule td {
    padding: 15px;
    border: 1px solid #4285f4;
    text-align: center;
    background-color: #f2f2f2;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4); /* Couleur de fond avec opacité */
    
}

.schedule tr:nth-child(even) {
    background-color: #e6f7ff;
}

/* Style pour l'adresse */
.address-container {
    width: 180px; /* Ajustez la largeur selon vos besoins */
    height: 190px; /* Ajustez la hauteur selon vos besoins */
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc transparent */
    padding: 10px;
    border-radius: 15px; /* Ajustez le rayon du bord selon vos besoins */
    margin: 0 auto; /* Centre horizontalement */
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}



.address-container h6 {
    color: #333; /* Couleur du texte */
}

.address-container p {
    margin: 10px 0;
}

/* Style pour les icônes de réseaux sociaux */
.social-icons {
    text-align: center;
}

.social-icons ul {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    font-size: 60px; /* Taille de l'icône */
    text-decoration: none;
    transition: color 0.3s ease; /* Animation de transition de la couleur */
}

.social-icons a:hover {
    color: #007bff; /* Couleur au survol */
}
/* Couleur pour l'icône Facebook */
.social-icons a[href*="facebook"] {
    color: #1877F2; /* Couleur bleue Facebook */
}

/* Couleur pour l'icône Instagram */
.social-icons a[href*="instagram"] {
    color: #E4405F; /* Couleur d'Instagram */
}

/* Change la couleur de l'icône au survol */
.social-icons a:hover {
    color: #fff; /* Couleur blanche au survol */
}


.reservation-banner {
    background-color: #0066cc;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.reservation-banner p {
    margin: 0;
    font-size: 16px;
}

.reservation-banner a {
    color: #fff;
    text-decoration: underline;
}

.reservation-banner a:hover {
    color: #ffeb3b; /* Couleur au survol du lien */
}







/* Styles pour la section des mentions légales */
footer {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
}

.mentions-legales p {
    margin: 5px 0;
}





/* Ajoutez des règles de médias query pour rendre le site responsive */
@media only screen and (max-width: 768px) {
    .logo {
        width: 80px;
        margin-right: 5px;
    }

    nav {
        flex-direction: column; /* Changez le flux de la barre de navigation en colonne */
        align-items: center; /* Centrez les éléments dans la colonne */
    }

    nav button {
        margin-top: 10px; /* Ajoutez une marge entre les boutons lorsqu'ils sont sur deux lignes différentes */
    }



    .bloc1 {
        margin-left: 10px;
        margin-right: 10px;
    }
    .arrow-down {
        display: none; /* Masque l'élément contenant la flèche */
    }

    #formulaire {
        width: 100%;
    }

    .photo-container {
        flex: 0 0 calc(50% - 10px);
    }
    .photo-gallery {
        flex-direction: column; /* Affichez les photos en colonne sur des écrans plus petits */
        align-items: stretch; /* Étirez les photos pour occuper toute la largeur du conteneur */
    }

    .photo-container {
        flex: 0 0 100%; /* Chaque conteneur de photo occupe 100% de la largeur sur des écrans plus petits */
        margin: 5px 0; /* Ajoutez un espacement entre les photos */
    }

    .photo-container img {
        max-height: 200px; /* Ajustez la hauteur maximale des images pour maintenir la cohérence */
    }

.slick-carousel .slick-slide img {
    height: 200px; /* Ajustez la hauteur des images du carrousel */
    text-align: center;
    }
    .para1 {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    .para1 p {
        font-size: 14px; /* Ajustez la taille de la police du texte */
    }
    

.schedule {
    width: 100%; /* Ajustez la largeur pour occuper la totalité de l'écran */
}

.schedule td {
    padding: 10px;
}
}


+v0+C4jmqu$G
