body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 400px;
    margin:  50px auto;
}

video {
    width: 100%;
    border-radius: 8px;
}


/* Pour les écrans de taille moyenne à grande */
@media (min-width: 768px) {
    .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%; /* Occupera la largeur maximale */
    }

    .video-item {
        flex-basis: 48%; /* Ajustez cette valeur selon vos besoins */
        margin-bottom: 20px; /* Espace entre les vidéos */
        width: 100%; /* Occupera la largeur maximale */
        height: auto; /* Ajustera la hauteur en fonction du ratio d'aspect */
    }
}

/* Pour les petits écrans */
@media (max-width: 767px) {
    .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%; /* Occupera la largeur maximale */
    }

    .video-item {
        margin-bottom: 20px; /* Espace entre les vidéos */
        width: 100%; /* Occupera la largeur maximale */
        height: auto; /* Ajustera la hauteur en fonction du ratio d'aspect */
    }
  
}

